*{
    margin: 0;
}

/*se sugiere aplicar*/
body {
    min-height: 100vh; /* Ocupa al menos toda la altura de la ventana */

}

/*barra navegacion*/
.contenedor-nav {
    position: fixed;    
    top: 0;
    width: 98%;
    height: 60px;          /*alto de contenedor*/
    font-size: 20px;
    display: flex;             /* Activa el flexbox */
    justify-content: flex-end  ;
    align-items: center;       /* Alinea verticalmente el h3 y el nav */
    padding: 0 20px;           /* Espacio interno horizontal */
    background-color: rgb(26, 26, 26);
  
}

nav ul {
    display: flex;             /* Hace que los <li> estén en línea */
    list-style: none;          /* Elimina los puntos de la lista */
    gap: 20px;                 /* Espacio entre los <li> */
    padding: 0;
    margin-right: 10px;

}

nav ul li {
    cursor: pointer;           /* Cambia el cursor al pasar sobre los <li> */
    
}

/*aplicado para enlaces todos*/
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color heredado del texto padre, o puedes usar otro color específico */
  }

/*Imagenes de iconos de barra navegacion*/
.nav-logo {
    width: 50px;
    height: 50px;
  

}


/*Contenido del perfil*/

.contenido-perfil{           /*contenedor padre*/
    display: grid;
    grid-template-columns: 1fr; /*en una sola feaccion*/
    justify-items: center; /* Centra los elementos horizontalmente */
}




#foto-principal {
    margin-top: 65px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
   
  
}

h1, p { /*aplica estilos a ls dos et (hay que separar con , ambas et)*/
    margin-top: 5px ;
    
}

/*seccion sobre mi */
.sTitulo{
    text-align: center;
}
.sobreMi {      /*contenedor padre*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*divide el contenedor en 3 fracciones iguales*/
    margin-top: 30px;
}

.fraccion2 {
    background-color: rgb(254,248,240);
    box-shadow: 10px 10px 10px grey;
    
}

/*seccion de proyectos*/
#tituloProyectos {
    text-align: center;
    margin-top: 50px;
}
.proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*divide el contenedor en 3 fracciones iguales*/
    justify-items: center;
    margin-top: 30px;
    margin-left: 80px;
    width: 90%;
    height: 300px;
    gap: 30px;
}

.fraccionA, .fraccionB, .fraccionC, img {   /*estilos para las img dentro de esas clases*/
    margin-top: 10px;
    border-radius: 10px;
}

.fraccionA , .fraccionB , .fraccionC{
    background-color: rgb(254,248,240);
    box-shadow: 10px 10px 10px grey;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 10px;
   
}

.fraccionA , .fraccionB , .fraccionC, h3{
    margin-top: 20px;
}



footer {    /*arreglar footer que no funciona y se muestra atras de los elementops*/
    background-color: black;
    margin-top: auto; /* Esto empuja el footer al final */
}


/*cuando la pantalla tenga el tamaño de entre 600px y 900px de ancho se aplicara*/




@media (min-width: 600px) and (max-width: 900px) {
    body {
        /* background-color: blue;*/
         font-size: 20px;
     
       }
    .proyectos {
        display: grid; /* Asegúrate de que siga usando grid */
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
        gap: 20px; /* Espacio entre los elementos */
        margin: auto; /* Centrar el elemento */
        text-align: center; /* Alinear el texto dentro del producto */
    }
}
  
  
  /*se aplicara estas propiedades cuando la pantalla sea de hasta 600px.*/
  @media (max-width: 600px) {
    .proyectos {
      /*  background-color: blue; */
        display: grid; /* Asegúrate de que siga usando grid */
        grid-template-columns: 1fr; /* Cambia a una columna */
        margin: auto; /* Centrar el elemento */
        text-align: center; /* Alinear el texto dentro del producto */
        gap: 20px; /* Espacio entre los elementos si lo deseas */
    }
}